@charset "UTF-8";

/*
   em HTML é id = em CSS é # (só pode um elemento por pág)
   em HTML é class = em CSS é . (pode vários elementos)
*/
body{
    background-color: rgb(170, 200, 225);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(15, 39, 61);
}
h1#principal{
    text-align: center;
    color: rgb(1, 23, 43);
    background-color: rgb(79, 127, 168);
}
h2{
    color: rgb(33, 122, 186);
}
p{
    background-color: rgb(255, 255, 255);
}
 .basico{
    color: rgb(14, 167, 22);
 }
 .intermediario{
    color: rgba(198, 179, 29, 0.91);
 }
 .avancado{
    color: rgb(208, 33, 33);
 }